fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.6
torch==2.5.1
torchvision==0.20.1
transformers==4.37.2
scikit-learn==1.4.0
pandas==2.2.0
numpy==1.26.3
pillow==10.2.0
kagglehub==0.3.6
python-dotenv==1.0.0
gdown==5.2.0
datasets==3.2.0
huggingface_hub==0.27.0
